<!-- account.html-->
<!-- <div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2 class="white">Your Account</h2>
        </div>
    </div>
</div> -->

<div class="row header-section">
    <div class="col-md-12">
        <div class="page-header">
            <h2 class="white">Your Account</h2>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h5></h5>
        <form class="form-horizontal white" novalidate ng-submit="updateAccount()" name="editAccountForm">
            <fieldset>
                <div class="form-group">
                    <label for="inputName" class="col-lg-3 control-label">First Name</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputName"
                               ng-model="formData.name"
                               required
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputEmail"
                               ng-model="formData.email"
                               required
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUsername" class="col-lg-3 control-label">Username</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputUsername"
                               ng-model="formData.username"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                        <input type="password"
                               class="form-control"
                               id="inputPassword"
                               ng-model="password"
                               required
                                placholder="Change Password Here">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input class="btn btn-primary" type="submit" ng-disabled="editAccountForm.$invalid" value="Update Account">
                        <br/><br/>
                        <button class="btn btn-danger" type="button" ng-click="deleteAccount()">Delete Account</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div> -->



<div class="row container-wrapper">
    <div class="col-md-6">
        <h5></h5>
        <form class="form-horizontal" novalidate ng-submit="updateAccount()" name="editAccountForm">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="text"
                               class="form-control"
                               id="inputName"
                               ng-model="formData.name"
                               required placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="email"
                               class="form-control"
                               id="inputEmail"
                               ng-model="formData.email"
                               required placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="text"
                               class="form-control"
                               id="inputUsername"
                               ng-model="formData.username"
                               required placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="password"
                               class="form-control"
                               id="inputPassword"
                               ng-model="formData.password"
                               required
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="text"
                               class="form-control"
                               id="homeAddress"
                               ng-model="formData.homeAddress"
                               required
                               placeholder="Home Address">
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-lg-6">
                        <input type="text"
                               class="form-control"
                               id="officeAddress"
                               ng-model="formData.officeAddress"
                               required
                               placeholder="Office Address">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="text"
                               class="form-control"
                               id="carName"
                               ng-model="formData.carName"
                               placeholder="Car Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="number"
                               class="form-control"
                               id="contactNo"
                               ng-model="formData.contactNo"
                               required
                               placeholder="Contact Number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4">
                        <input class="btn btn-primary" type="submit" ng-disabled="editAccountForm.$invalid" value="Update Account">
                        <br/><br/>
                        <button class="btn btn-danger" type="button" ng-click="deleteAccount()">Delete Account</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!--/account.html