<!-- create_account.html--> 
<!-- <div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2 class="white">Create An Account</h2>
        </div>
    </div>
</div> -->

<div class="row header-section">
    <div class="col-md-12">
        <div class="page-header white">
            <h2>SMART RIDER</h2>
            <P class="description">Your Friendly Car Pool Messenger</P>
        </div>
    </div>
</div>


<!-- <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal white" novalidate ng-submit="submitForm()" name="createAccountForm">
            <fieldset>
                <div class="form-group">
                    <label for="inputName" class="col-lg-3 control-label">Name</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputName"
                               ng-model="newUser.name"
                               required placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-9">
                        <input type="email"
                               class="form-control"
                               id="inputEmail"
                               ng-model="newUser.email"
                               required placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUsername" class="col-lg-3 control-label">Username</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputUsername"
                               ng-model="newUser.username"
                               required placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                        <input type="password"
                               class="form-control"
                               id="inputPassword"
                               ng-model="newUser.password"
                               required
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input class="btn btn-primary" type="submit" ng-disabled="createAccountForm.$invalid" value="Create Account">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
 -->


 <div class="row container-wrapper">
    <div class="col-md-6 ">
        <form class="form-horizontal" novalidate ng-submit="submitForm()" name="createAccountForm">
            <h1 class="white">Get Started</h1>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="text"
                               class="form-control"
                               id="inputName"
                               ng-model="newUser.name"
                               required placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="email"
                               class="form-control"
                               id="inputEmail"
                               ng-model="newUser.email"
                               required placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="text"
                               class="form-control"
                               id="inputUsername"
                               ng-model="newUser.username"
                               required placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="password"
                               class="form-control"
                               id="inputPassword"
                               ng-model="newUser.password"
                               required
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="text"
                               class="form-control"
                               id="homeAddress"
                               ng-model="newUser.homeAddress"
                               required
                               placeholder="Home Address">
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-lg-6">
                        <input type="text"
                               class="form-control"
                               id="officeAddress"
                               ng-model="newUser.officeAddress"
                               required
                               placeholder="Office Address">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="text"
                               class="form-control"
                               id="carName"
                               ng-model="newUser.carName"
                               placeholder="Car Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="number"
                               class="form-control"
                               id="contactNo"
                               ng-model="newUser.contactNo"
                               required
                               placeholder="Contact Number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-5">
                        <input class="btn btn-primary" type="submit" ng-disabled="createAccountForm.$invalid" value="Register With Smart Rider Now">
                    </div>
                </div>
        </form>
    </div>
</div>
<!--/create_account.html