<!--home.html-->

<div class="row">
    <div class="jumbotron">
        <h1>Smart Rider</h1>
        <p>A smart solution to share your ride intantly..!!</p>
    </div>
</div>

<div class="row">
    <div class="jumbotron card">
        <h1>Offer A Ride</h1>
        <p>A smart solution to share your ride intantly..!!</p>
    </div>

    <div class="jumbotron card">
        <h1>Find a ride</h1>
        <p>A smart solution to share your ride intantly..!!</p>
    </div>
</div>

<div class="row">
    <div class="jumbotron">
        <p>Click <a href="https://www.facebook.com/Ride-Sharing-743904519144222/">here</a> to connect to our Facebook page and start sharing your ride.</p>
    </div>
</div>

<!-- <div class="row">
    <div class="col-lg-6">
        <h3>Get Started with Boilerplate</h3>
        <p>See the <a href="https://github.com/IBM-Bluemix/Nodejs-MEAN-Stack">README</a> for getting started documentation.</p>
    </div>
    <div class="col-lg-6">
        <h3>Resources & Documentation</h3>
        <ul>
            <li><a href="https://bootswatch.com/cosmo/">UI Theme Docs</a></li>
            <li><a href="https://getbootstrap.com/css">Bootstrap UI Docs</a></li>
        </ul>
    </div>
</div> -->

<!--/home.html-->
