<!--login.html-->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2 class="white">Login</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal white" novalidate ng-submit="submitLogin()" name="loginForm">
            <fieldset>
                <div class="form-group">
                    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text"
                               class="form-control"
                               id="inputUsername"
                               ng-model="loginForm.username"
                               required placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password"
                               class="form-control"
                               id="inputPassword"
                               ng-model="loginForm.password"
                               required
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid" value="Login">
                    </div>
                    <div class="col-lg-10 col-lg-offset-2">
                        <h4>- Or -</h4>
                    </div>
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default" type="button" ng-click="createAccount()">Create Account</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!--/login.html-->