fieldset{
    margin-top: 30px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

body{
	background-color: #4e036d;
}

.white{
	color: white !important;
}

.navbar-default{
	background-color: #230057;
    border: 1px solid #230057;
}

.jumbotron{
	background-color: #FF7C7A;
	text-align: center;
	color: #220058;
}

.card{
	width:49%;
	display: inline-block;
	color:#ffe06e;
}

.card:first-child { 
    margin-right: 19px;
}

/*harsh*/

.page-header {
  border-bottom: none;
  margin: 0;
}
h2 {
font-weight: 800;
font-size: 38px;
margin-bottom: 0;
}
h1 {
font-size: 24px;
font-weight: 300;
text-align: center;
}
.description {
  font-size: 11px;

}
.form-control {
  border-radius: 20px;
}
.form-group,.container-wrapper {
  display: flex;
  justify-content: center;
}
.header-section {
  text-align: center;
}